main {
    background: radial-gradient(46.41% 73.99% at 46.63% 48.05%, #20135C 0%, #140739 92.82%);
    display: flex !important;
}

aside {
    padding: 25px 15px;
    float: left;
    background: linear-gradient(0.32deg, rgba(28, 35, 64, 0) -5.79%, #1C0F54 114.59%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100vh;
}

.text .dss {
    color: #FFFFFF;
    font-size: 24px !important;
    font-weight: 300;
    margin-top: 0 !important;
    margin-bottom: 40px;
}

.line {
    border: none !important;
    height: 2px;
    background: #1288E8;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text .line {
    width: 100%;
}

header {
    padding: 32px 32px 0px 32px;
    width: 100%;
    height: auto;
}

.viewStateBtn.active {
    background-color: #32395e;

}

.viewStateBtn.active span {
    color: white;
}

.viewStateBtn.active .line {
    opacity: 1;
}

.viewStateBtn:hover {
    background-color: #32395e;

}

.viewStateBtn:hover span {
    color: white;
}